<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="'true'" ng-controller="TestCtrl" class="bg_login_page">
        <span class="login_heading otto">Poke Adventure</span>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-80">
                <div>
                    <img class="login_image" src="img/pokedex1.png">
                </div>
                <p style="text-align: center">
                <button class="button button-light" id="loginButton" ng-click="start()"><i class="ion-arrow-right-b"></i> START UP</button>
                </p>
            </div>
            <div class="col-10"></div>
        </div>
            

    </ion-content>
</ion-view>
