<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>

        <ion-nav-bar class="bar-stable">
            
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>

    </ion-side-menu-content>


    <ion-side-menu side="left" class="bg_menu">

        <ion-header-bar class="bar-stable">
            <div class="title">Navigation</div>
        </ion-header-bar>
        
        <ion-content padding="false" class="side-menu-left has-header bg_menu" <="" ion-content="">
            <ion-list>
                <ion-item menu-close="" href="#/side-menu/wild" class="bg_transparent">Wild</ion-item>
                <ion-item menu-close="" href="#/side-menu/captured" class="bg_transparent">Captured</ion-item>
                <ion-item menu-close="" href="#/side-menu/groups" class="bg_transparent">Groups</ion-item>
                <ion-item menu-close="" class="bg_transparent">
                    <div style="z-index: 1000;" ng-click="logoutAccountTest()"> LogOut</div>
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>